{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block contenu %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
        <h1>Salut c'est Fabien et Maxence </h1>

                 {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                    <h3>Bonjour {{app.user.email}}</h3>
                  {% endif %}

                  {% if is_granted('ROLE_ADMIN') %}
                    <p>Vous êtes connecté en tant que {{ app.user.username }} (Admin)</p>
                  {% else %}
                    {% if is_granted('ROLE_USER') %}
                      <p>Vous êtes connecté en tant que {{ app.user.username }} (Utilisateur)</p> 
                    {% endif %}
                  {% endif %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/symfony4-4060/public/englearny/src/Controller/StaticController.php'|file_link(0) }}">src/Controller/StaticController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/symfony4-4060/public/englearny/templates/static/index.html.twig'|file_link(0) }}">templates/static/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
