{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Liste Tests{% endblock %}

{% block contenu %}
{{parent()}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="text-center text-secondary p-4">Liste des Test</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 p-4 m-0 text-primary">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Libellé</th>
                            <th scope="col">Liste</th>
                            <th scope="col">Niveau</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in tests %}
                            <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                                <td>{{test.libelle |capitalize }}</td>
                                <td>{{test.liste.libelle |capitalize }}</td>
                                <td>{{test.niveau |capitalize }}</td>
                                <td><a href="{{path('modifTest',{'id': test.id})}}" class="text-white"><span class="material-icons" title="Modifier un test">create</span></a></td>
                                <td><a href="{{path('listeTests',{'supp':test.id})}}" class="text-white"><span class="material-icons" title="Supprimer un test"> delete </span></a></td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} 